data-factory/pipeline/2_Copy_Incremental_Synapse_To_SQL.json
{
	"name": "2_Copy_Incremental_Synapse_To_SQL",
	"properties": {
		"activities": [
			{
				"name": "Get last load watermark - all tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarktable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy incremental data - per table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get last load watermark - all tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get last load watermark - all tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy incremental data from Synapse to SQL Server",
							"description": "We will get data > the last load watermark, but <= the max latest watermark (in case there are loads being done as we speak - those will also come in). Specifying this last range allows us to be more precise.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get latest watermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().Tablename} WHERE time_inserted > '@{item().WatermarkValue}' and time_inserted <= '@{activity('Get latest watermark').output.firstRow.NewWatermarkvalue}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink"
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "Synapse_AzureBlobStorage",
										"type": "LinkedServiceReference"
									},
									"path": "adf-staging"
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Currents_Synapse_Tables",
									"type": "DatasetReference",
									"parameters": {
										"table": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Currents_SQLServer_Tables",
									"type": "DatasetReference",
									"parameters": {
										"table": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update Watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy incremental data from Synapse to SQL Server",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark]",
								"storedProcedureParameters": {
									"LastModifiedtime": {
										"value": {
											"value": "@activity('Get latest watermark').output.firstRow.NewWatermarkvalue",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableName": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "adfmetadata",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Get latest watermark",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "select MAX(time_inserted) as NewWatermarkvalue from @{item().TableName}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Currents_Synapse_Tables",
									"type": "DatasetReference",
									"parameters": {
										"table": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Braze-Autoloader/1_Supporting"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-28T20:04:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}