aia-braze-v2-poc-adf/PartialArmTemplates/ArmTemplate_10_7_2021_10_49_52.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aia-braze-v2-poc-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CSV-to-SQL-MI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_getsrcmetadata",
						"description": "Get load metadata from SQL MI metadata table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "SELECT sourcefile, sourcepath, columndelimiter, targetschema, targettable\nFROM dbo.source_metadata",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlMI_AE",
								"type": "DatasetReference",
								"parameters": {
									"StagingTable": "source_metadata",
									"StagingSchema": "dbo"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Copy_Src_Activity",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lkp_getsrcmetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lkp_getsrcmetadata').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy CSV_to_SQLMI",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "FileServerReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlMISink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE @{item().targetschema}.@{item().targettable}",
												"type": "Expression"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "CSV",
											"type": "DatasetReference",
											"parameters": {
												"sourcepath": {
													"value": "@item().sourcepath",
													"type": "Expression"
												},
												"columndelimiter": {
													"value": "@item().columndelimiter",
													"type": "Expression"
												},
												"sourcefile": {
													"value": "@item().sourcefile",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlMI_AE",
											"type": "DatasetReference",
											"parameters": {
												"StagingTable": {
													"value": "@item().targettable",
													"type": "Expression"
												},
												"StagingSchema": {
													"value": "@item().targetschema",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"folder": {
					"name": "CSV-to-SQL-MI-AE-POC"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}