aia-braze-v2-poc-adf/PartialArmTemplates/ArmTemplate_10_7_2021_10_9_33.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aia-braze-v2-poc-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/test_purview_over_ADF_SHIR_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Calling Purview over Purview PE from ADF SHIR. Purview to Scan Storage Account over Private endpoint and ingest into Purview PE.",
				"activities": [
					{
						"name": "test_purview_over_shir",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://', pipeline().parameters.purview_account, '.scan.purview.azure.com/datasources/Braze-ADLS/scans?api-version=2020-12-01-preview')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "CurrentsOnPremIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "https://purview.azure.net"
							}
						}
					},
					{
						"name": "get_scans",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "test_purview_over_shir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://', pipeline().parameters.purview_account, '.scan.purview.azure.com/datasources/Braze-ADLS/scans?api-version=2020-12-01-preview')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "CurrentsOnPremIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"authentication": {
								"type": "MSI",
								"resource": "https://purview.azure.net"
							}
						}
					},
					{
						"name": "create_sample_scan",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "get_scans",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://', pipeline().parameters.purview_account, '.scan.purview.azure.com/datasources/Braze-ADLS/scans/', pipeline().parameters.scan_name, '?api-version=2020-12-01-preview')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "CurrentsOnPremIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "PUT",
							"body": {
								"value": "@concat('{\"name\":\"', pipeline().parameters.scan_name, '\",\"kind\":\"AdlsGen2Credential\",\"properties\":{\"connectedVia\":{\"referenceName\":\"IntegrationRuntime-aiadsvm01\"},\"credential\":{\"referenceName\":\"ADLS-Braze-SP-ClientKey\",\"credentialType\":\"ServicePrincipal\"},\"scanRulesetType\":\"System\",\"scanRulesetName\":\"AdlsGen2\"}}')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://purview.azure.net"
							}
						}
					},
					{
						"name": "specify_options",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "create_sample_scan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://', pipeline().parameters.purview_account, '.scan.purview.azure.com/datasources/Braze-ADLS/scans/', pipeline().parameters.scan_name, '/filters/custom?api-version=2020-12-01-preview')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "CurrentsOnPremIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "PUT",
							"body": {
								"value": "{\n   \"properties\":{\n      \"excludeUriPrefixes\":[\n         \"https://aiabrazev2pocadls.dfs.core.windows.net/landing\"\n      ],\n      \"includeUriPrefixes\":[\n         \"https://aiabrazev2pocadls.dfs.core.windows.net/\",\n         \"https://aiabrazev2pocadls.dfs.core.windows.net/bronze\"\n      ]\n   }\n}",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://purview.azure.net"
							}
						}
					},
					{
						"name": "start_scan",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "specify_options",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://', pipeline().parameters.purview_account, '.scan.purview.azure.com/datasources/Braze-ADLS/scans/', pipeline().parameters.scan_name, '/run?api-version=2020-12-01-preview')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "CurrentsOnPremIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"body": {
								"scanLevel": "Full"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://purview.azure.net"
							}
						}
					}
				],
				"parameters": {
					"purview_account": {
						"type": "string",
						"defaultValue": "aia-purview"
					},
					"scan_name": {
						"type": "string",
						"defaultValue": "Scan-02"
					}
				},
				"folder": {
					"name": "Purview-SHIR-demonstration"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHIR_Local')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Bunch of CSV files to load into SQL MI over Always Encrypted",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "C:\\AE_POC\\Data",
					"userId": "boor",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				},
				"connectVia": {
					"referenceName": "DATFileIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SHIR_Local",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "AE_POC"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Table_1_1.csv",
						"folderPath": "Table_1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SHIR_Local')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSV-to-SQL-MI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lkp_getsrcmetadata",
						"description": "Get load metadata from SQL MI metadata table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "SELECT sourcefile, sourcepath, columndelimiter, rowdelimiter, targetschema, targettable\nFROM dbo.source_metadata",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlMI_AE",
								"type": "DatasetReference",
								"parameters": {
									"StagingTable": "source_metadata",
									"StagingSchema": "dbo"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"folder": {
					"name": "CSV-to-SQL-MI-AE-POC"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlMI_AE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlMI_AE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlMI_AE",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"StagingTable": {
						"type": "string",
						"defaultValue": "source_metadata"
					},
					"StagingSchema": {
						"type": "string",
						"defaultValue": "dbo"
					}
				},
				"folder": {
					"name": "AE_POC"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().StagingSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().StagingTable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}